body{
            margin: 0;
            background-color: white;
        }

        .topo{
            background-color: aquamarine;
            padding: 15px;
            text-align: center;

        } 

        .Menu{
            background-color: blue;
            padding: 5px;
            text-align: center;
            overflow: hidden;

        }

        .Menu a{
            text-decoration: none;
            color: blanchedalmond;
            padding: 14px;
            
        }

        .Test1 {
            background-color: chartreuse;
            text-align: center;
            padding: 10px;
            width: 47%;
            height: 175px;
            float: left;
            
        }

        .Test1 h2{
            color: red;
        }

        .Test1 table {
            margin: auto;
            
        }


        .Test2 {
            background: url(images/Fonoaudiologo.jpg);
            background-size: cover;
            text-align: center;
            padding: 10px;
            width: 47.5%;
            float: left;
            height: 175px;
            background-position: center;
            
            
        }

        .Test2 form{
            color: rgb(251, 255, 0);
            text-align: left;
            border: solid red;
        }

        .Test2 input, label{
            border: solid red;
        }


        .Test2 button{
            position: absolute;
            background-color: black;
            color: aliceblue;
            margin-left: 40%;
        }

        .Test2 button:hover{
            background-color: greenyellow;
            color: blue;
        }

        .rodape{
            background-color: aquamarine;
            text-align: center;
            padding: 10px;
            clear: both;
        }

        .Test3{
            background-color: gray;
            
        }

        .Test3 li{
            display: inline-block;
        }

        #Primeiro{
            background-color: blue;
            width: 20%;
        }

        #Segundo{
            background-color: red;
            width: 20%;
        }

        #Terceiro{
            background-color: green;
            width: 20%;
            border: none;
        }
    