@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.navbar{
    display: flex;
    background-color: rgb(67, 63, 63);
    color: aliceblue;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;

}


.Logo {
    /*border: 1px solid red;*/
    flex: 30%;
    text-align: center;
    background-color: rgb(67, 63, 63);
    font-size: 18px;
}

.Logo a{
    text-decoration: none;
    color: white;
}

.Logo:hover
{
    background-color: rgb(68, 151, 72);
}

.Menu{
    flex: 70%;
    display: flex;
    flex-direction: row;
    padding: 0;  
    /* border: 1px solid yellow; */
    
    
}

.Menu a {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    /* border: 1px solid red;/ */
}

.Menu a:hover{
    background-color: rgb(68, 151, 72);
}

.Whats{
    border: 1px solid red;
    background: url(images/Whats.png);
    background-size: cover;
    background-position: center;
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50px;
}

.Whats a{
    text-decoration: none;
    padding: 30px;
}


.Cards {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background-color: white; /* Adicione isso para "limpar" o fundo */
    z-index: 1;
    
}

.Cards::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/Dollar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.3;
    height: 800px;
    
}

.Card1{
    flex: 30%;
    position: relative;
    color: black;
    
}

.TextOcult{
    display: none;
}


.Card1:hover .CardText{
    display: none;
}

.Card1:hover .TextOcult{
    display: block;
    background-color: yellow;
    padding: 10px;
}

.Card2{
    flex: 30%;
    position: relative;
    color: black;
}

.Card2:hover .CardText{
    display: none;
}

.Card2:hover .TextOcult{
    display: block;
    background-color: yellow;
    padding: 10px;
}

.Card3{
    flex: 30%;
    position: relative;
    color: rgb(0, 0, 0);
}

.Card3:hover .CardText{
    display: none;
}

.Card3:hover .TextOcult{
    display: block;
    background-color: yellow;
    padding: 10px;
}













